<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
    <head>
        {% block css %}
            <link href="/irc/media/css/logs.css" media="all" rel="stylesheet" type="text/css" />
        {% endblock %}
        
        {% block javascript %}
        {% endblock %}
        <title>Polish Python Coders Group - Logi #python.pl</title>
    </head>

    <body>
        <div class="header">
            {% block header %}
               <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
	       <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a></p>
            {% endblock %}
        </div>
        <p style="text-align:center; font-weight: bold;padding: 12px">Dołącz do dyskusji: <a href="http://goo.gl/mvOiE" title="PLPUG: Stowarzyszenie Polish Python User Group">"Stowarzyszenie Polish Python User Group"</a></p>
        <div class="menu">
            {% block menu %}
                <a href="http://pl.python.org/irc/">Strona główna</a> |
                <a href="http://pl.python.org/irc/search">Szukaj...</a>
            {% endblock %}
        </div>

        <div class="body_text">
            {% block body_text %}
            {% endblock %}
        </div>

        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>
