{% extends "base.html" %}

{% block title %}
    Polish Python Coders Group - Logi #python.pl
{% endblock %}

{% block header %}
    <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
    <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a>, <strong>Błąd:</strong> {{ error.type }}</p>
{% endblock %}

{% block body_text %}
    <div class="error_message center">
        <h1>
            {{ error.type }}
        </h1>
        <p>
            {{ error.text }}
        </p>
    </div>
{% endblock %}