{% extends "base.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Polish Python Coders Group - Logi #python.pl
    {% endif %}
{% endblock %}

{% block header %}
    {% if from_msg %}
        <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
        <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a>, <strong>Wiadomości:</strong> {{from_msg}}-{{to_msg}}</p>
    {% else %}
        {% if title %}
            <h1>{{ title }}<h1>
        {% else %}
            <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
            <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a></p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body_text %}
    <div class="center">
        <a href="http://pl.python.org/irc/old/{{to_msg}}">&laquo; Pokaż starsze</a>
        {% if from_msg %}
            | <a href="http://pl.python.org/irc/old/{{prev_msg}}">Pokaż nowsze &raquo;</a>
        {% endif %}
        {% if msg_list %}
            <table class="irctable">
                <thead class="irctable">
                    <tr>
                        <th style="width: 30px;"> Nr: </th>
                        <th style="width:140px;"> Data: </th>
                        <th style-"width: 100px;"> Nick: </th>
                        <th>Wiadomość: </th>
                    </tr>
                </thead>
                {% for message in msg_list %}
                    <tbody class="ircmsg" id="id_{{ forloop.counter0 }}">
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="irc_table_date">{{message.date|timesince }} temu</td>
                            <td class="irc_table_nick">
                                <a href="/irc/user/{{message.user_id|escape}}">{{message.user_id}}</a>
                            </td>
                            <td style="text-align:left">{{message.text|escape}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <div class="error_message">
                <h3>Brak wiadomości.</h3>
            </div>
        {% endif %}
        <a href="http://pl.python.org/irc/old/{{to_msg}}">&laquo; Pokaż starsze</a>
        {% if from_msg %}
            | <a href="http://pl.python.org/irc/old/{{prev_msg}}">Pokaż nowsze &raquo;</a>
        {% endif %}
	<br />
	Czas zapytania: {{t}}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
