{% extends "base.html" %}

{% block title %}
    {% if query %}
        {{ query }}
    {% else %}
        Polish Python Coders Group - Logi #python.pl
    {% endif %}
{% endblock %}

{% block header %}
    {% if query %}
        <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
        <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a>, <strong>Szukaj:</strong> {{query}}</p>
    {% else %}
        <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
        <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a>, <strong>Szukaj:</strong> ...</p>
    {% endif %}
{% endblock %}

{% block body_text %}
    <div class="search_input">
        <form action="." method="GET">
            Przeszukaj logi:
            <input id="search_text" type="text" name="q" value="{{ query|escape }}">
            <input type="submit" value="szukaj">
        </form>
    </div>
    <div class="center">
        {% if results %}
            <table class="irctable">
                <thead class="irctable">
                    <tr>
                        <th style="width: 30px;"> Nr: </th>
                        <th style="width:140px;"> Data: </th>
                        <th style-"width: 120px;"> Nick: </th>
                        <th>Wiadomość:</th>
                    </tr>
                </thead>
                {% for message in results %}
                    <tbody class="ircmsg" id="id_{{ forloop.counter0 }}">
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="irc_table_date">
                                {{message.date|timesince }} temu
                            </td>
                            <td class="irc_table_nick">
                                <a href="/irc/user/{{message.user_id|escape}}">{{message.user_id}}</a>
                            </td>
                            <td style="text-align:left">{{message.text|escape}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            {% if query %}
                <div class="error_message"> 
                    <h3>
                        Nic nie znaleziono dla: <em>{{query}}</em>
                    </h3>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}