{% extends "base.html" %}

{% block title %}
    Polish Python Coders Group - Logi #python.pl
{% endblock %}

{% block header %}
    {% if user %}
        <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
        <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a>, <strong>Ostatnie wiadomości użytkownika:</strong> {{user}}</p>
    {% else %}
        <h1>Konfident: Logi (<a href="irc://irc.eu.freenode.net/python.pl">#python.pl</a> @FreeNode)</h1>
        <p class="info">Polish Python Coders Group (PPCG) :: <a href="http://pl.python.org">http://pl.python.org</a></p>
    {% endif %}
{% endblock %}

{% block body_text %}
    {% if error_message %}
        <div class="error_message center">
            <h3>{{ error_message }}</h3>
        </div>
    {% endif %}
    <div class="center">

        {% if user_msg %}
            <table class="irctable">
                <thead class="irctable">
                    <tr>
                        <th style="width: 30px;"> Nr: </th>
                        <th class="irc_table_date"> Data: </th>
                        <th>Wiadomość:</th>
                    </tr>
                </thead>
                {% for msg in user_msg %}
                    <tbody class="ircmsg" id="id_{{ forloop.counter0 }}">
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td class="irc_table_date">
                                {{ msg.date|timesince }} temu
                            </td>
                            <td style="text-align:left">
                                {{ msg.text }}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}