body, html {
    height: 100%;
    background: #ffffff;
    color: #171717;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif;
    font-size: 0.95em;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #678EAD;
    font-weight: bold;
    padding: 0px 3px;
}

a:hover {
    background: #CDDAE4;
}

.info {
    padding: 0px 0px 0px 20px;
    }

.header {
    background: #9caed2;
    min-height: 100px;
}

.header h1, .header h2 {
    margin: 0px;
    padding: 10px;
    color: #474747;
}

.body_text h1, .body_text h2 {
    padding: 10px;
}

.menu {
    background: #dbe0ea;
    padding: 2px 15px;
    text-align: right;
    color: #bababa;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #969696;
}

.menu a:hover {
    color: #797979;
    background: none;
}

table.irctable {
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    font-family: Arial, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
}

td {
    padding: 2px 10px;
    text-align: right;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.irctable a {
    text-decoration: none;
    color: #7E964C;
}

.irctable a:hover {
    color: #9EB86A;
    background: none;
}

thead.irctable {
    text-align: center;
    color: #758DBF;
    font-size: 1em;
    font-weight: bold;
}

#id_0, #id_2, #id_4, #id_6, #id_8, #id_10, #id_12, #id_14, #id_16, #id_18, #id_20, #id_22, #id_24, #id_26, #id_28, #id_30, #id_32, #id_34, #id_36, #id_38, #id_40, #id_42, #id_44, #id_46, #id_48, #id_50 {
    background: #FBFBFB;
}

#id_0:hover, #id_2:hover, #id_4:hover, #id_6:hover, #id_8:hover, #id_10:hover, #id_12:hover, #id_14:hover, #id_16:hover, #id_18:hover, #id_20:hover, #id_22:hover, #id_24:hover, #id_26:hover, #id_28:hover, #id_30:hover, #id_32:hover, #id_34:hover, #id_36:hover, #id_38:hover, #id_40:hover, #id_42:hover, #id_44:hover, #id_46:hover, #id_48:hover, #id_50:hover {
    background: #EFFDC2;
}

#id_1, #id_3, #id_5, #id_7, #id_9, #id_11, #id_13, #id_15, #id_17, #id_19, #id_21, #id_23, #id_25, #id_27, #id_29, #id_31, #id_33, #id_35, #id_37, #id_39, #id_41, #id_43, #id_45, #id_47, #id_49 {
    background: #F3F3F3;
}

#id_1:hover, #id_3:hover, #id_5:hover, #id_7:hover, #id_9:hover, #id_11:hover, #id_13:hover, #id_15:hover, #id_17:hover, #id_19:hover, #id_21:hover, #id_23:hover, #id_25:hover, #id_27:hover, #id_29:hover, #id_31:hover, #id_33:hover, #id_35:hover, #id_37:hover, #id_39:hover, #id_41:hover, #id_43:hover, #id_45:hover, #id_47:hover, #id_49 {
    background: #EFFFC0;
}

.irc_table_date {
    width: 15em;
    text-align: center;
    font-size: 0.8em;
}

.irc_table_nick {
    width: 10em;
}

.search_input {
    font-size: 1.2em;
    text-align: center;
    margin: 1em 2em;
}

#search_text {
    width: 50em;
    text-size: 1.4em;
    padding: 0.2em;
}

div.error_message {
    margin: 3em;
    padding: 0.5em;
    font-size: 1.2em;
    background: #F3EDBC;
    border: 2px solid #FFCEA6;
    color: #292929;
}

.center {
    padding: 0 0 10px 0;
    margin: 0 auto;
    text-align: center;
}
